[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[safe]
	directory = *
[user]
	name = Mizuki
	email = Wp15089122638@gmail.com
